%html
  %head
  %body
    %h2 Log in
    = form_tag sessions_path do
      .field
        = label_tag :email
        %br/
        = text_field_tag :email, params[:email]
      .field
        = label_tag :password
        %br/
        = password_field_tag :password
      .actions
        = submit_tag "Log in", class: "button"
