<h3>Show Users | <%= link_to 'New', new_user_path %></h3>

<table>
  <tr>
    <th>Email</th>
    <th>URI</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.uri %></td>
    <td><%= user.name %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>
