<%= form_for(@client) do |f| %>

  <% if @client.errors.any? %>
    <div id="error_explanation">
      <div><%= pluralize(@client.errors.count, "error") %> prohibited this resource from being saved</div>
      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :site_uri %><br />
    <%= f.text_field :site_uri %>
  </div>

  <div class="field">
    <%= f.label :redirect_uri %><br />
    <%= f.text_field :redirect_uri %>
  </div>

  <div class="field">
    <%= f.label :scope %> (separated by spaces)<br />
    <input id="client_scope" class="tags" name="client[scope]" size="30" type="text" value="<%=@client.scope_pretty%>">
  </div>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>

  <div class="actions">
    <%= f.submit nil, {class: "button"} %>
  </div>
<% end %>
