<h2>Show Client</h2>

<div class="field_show">
  <b>Client URI:</b>
  <%= @client.uri %>
</div>

<div class="field_show">
  <b>Name:</b>
  <%= @client.name %>
</div>

<div class="field_show">
  <b>Secret:</b>
  <%= @client.secret %>
</div>

<div class="field_show">
  <b>Site URI:</b>
  <%= @client.site_uri %>
</div>

<div class="field_show">
  <b>Redirect URI:</b>
  <%= @client.redirect_uri %>
</div>

<div class="field_show">
  <b>Scope:</b>
  <%= @client.scope_pretty %> 
  <span class="details">(includes <%= @client.scope_values_pretty %>)</span>
</div>

<div class="field_show">
  <b>Info:</b>
  <%= @client.info %>
</div>

<div class="actions button-container footer_buttons">
  <div class="button-group">
    <%= link_to 'Back', clients_path, class: "button icon arrowleft" %>
    <%= link_to 'Edit', edit_client_path(@client), class: "button" %>
    <%= link_to 'Destroy', @client, :confirm => 'Are you sure?', :method => :delete, class: "button danger" %>
  </div>

  <div class="button-group">
    <%= link_to 'Simulate Authorization', authorization_uri(@client, "all"), class: "button icon search" %>
  </div>
</div>
