%h2 Show Client
.field_show
  %b Client URI:
  = @client.uri
.field_show
  %b Name:
  = @client.name
.field_show
  %b Secret:
  = @client.secret
.field_show
  %b Site URI:
  = @client.site_uri
.field_show
  %b Redirect URI:
  = @client.redirect_uri
.field_show
  %b Scope:
  = @client.scope_pretty
  %span.details
    (includes #{@client.scope_values_pretty})
.field_show
  %b Info:
  = @client.info
.actions.button-container.footer_buttons
  .button-group
    = link_to 'Back', clients_path, class: "button icon arrowleft"
    = link_to 'Edit', edit_client_path(@client), class: "button"
    = link_to 'Destroy', @client, :confirm => 'Are you sure?', :method => :delete, class: "button danger"
  .button-group
    = link_to 'Simulate Authorization', authorization_uri(@client, "all"), class: "button icon search"
