<h3>Show Accesses</h3>

<table>
  <tr>
    <th>Client URI</th>
    <th>Active</th>
    <th></th>
    <th></th>
  </tr>

<% @accesses.each do |access| %>
  <tr>
    <td><%= access.client_uri %></td>
    <td><%= not access.blocked? %></td>
   
    <% if access.blocked? %>
      <td><%= link_to 'Unblock!', unblock_access_path(access), method: :put %></td>
    <% else %>
      <td><%= link_to 'Block!', block_access_path(access), method: :put %></td>
    <% end %>

    <td><%= link_to 'Show stats', access_path(access) %></td>
  </tr>
<% end %>
</table>

<br/>
