<h2>Show Access</h2>

<div class="field_show">
  <b>Client URI:</b>
  <%= @access.client_uri %>
</div>

<div class="field_show">
  <b>Today requests:</b>
  <%= @access.daily_requests.times %>
</div>

<div id="chart" style="width: 100%; height: 250px"></div>

<div class="footer_buttons"> 
<%= link_to 'Back', accesses_path, class: "button icon arrowleft" %>
<% if @access.blocked? %>
  <%= link_to 'Unblock!', unblock_access_path(@access), method: :put, class: "button danger" %>
<% else %>
  <%= link_to 'Block!', block_access_path(@access), method: :put, class: "button danger" %>
<% end %>
<div>


<script>
  $(document).ready(function() {
    createChart(
      <%=raw @access.chart_days %>,
      <%= @access.chart_times.to_json %>,
      "<%= @access.client_uri %>"
    )  
  });
</script>


