<%= form_for(@scope) do |f| %>

  <% if @scope.errors.any? %>
    <div id="error_explanation">
      <div><%= pluralize(@scope.errors.count, "error") %> prohibited this resource from being saved</div>
      <ul>
      <% @scope.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :values_with_space %><br />
    <%= f.text_field :values_with_space %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
