<h2>Show Scope</h2>

<div class="header_buttons">
  <%= link_to 'Create a new scope', new_scope_path, class: "button icon add" %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scopes.each do |scope| %>
  <tr>
    <td><b><%= scope.name %></b></td>
    <td><%= scope.values_pretty %></td>
    <td><%= link_to 'Show', scope, class: "button" %></td>
    <td><%= link_to 'Edit', edit_scope_path(scope), class: "button" %></td>
    <td><%= link_to 'Destroy', scope, :confirm => 'Are you sure?', :method => :delete, class: "button danger" %></td>
  </tr>
<% end %>
</table>

<br/>
