<h2>Show Scope</h2>

<div class="field_show">
  <b>Name:</b>
  <%= @scope.name %>
</div>

<div class="field_show">
  <b>Values:</b>
  <%= @scope.values_pretty %>
  <span class="details">(includes <%= Oauth.normalize_scope(@scope.values_pretty).join(" ") %></span>
</div>


<div class="button-group footer_buttons">
<%= link_to 'Back', scopes_path, class: "button icon arrowleft" %> 
<%= link_to 'Edit', edit_scope_path(@scope), class: "button" %>
<%= link_to 'Destroy', @scope, :confirm => 'Are you sure?', :method => :delete, class: "button danger" %>
</div>
