<!DOCTYPE html>
<html>
<head>
  <title>Lelylan</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log out", log_out_path %>
    <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
    <% end %>
  </div>

  <br/>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, t(msg), :id => "flash_#{name}" %>
    <% if @info %>
      <div id=info>Debug information: <%= @info.to_json %></div>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
